.colors-error {
    color: #b94a48;
    background-color: #f2dede;
}

.colors-error-border {
    border:2px solid #eed3d7;
}

.colors-info {
    color: #ffffff;
    background-color: #5bc0de;
}

.colors-danger {
    color: #ffffff;
    background-color: #da4f49;
}